body 
{
    margin-left: 3%;
    font-family: "Raleway", sans-serif;
}

/*HEADER */

nav
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

nav ul
{
    display: flex;
    list-style: none;
}


nav img
 {
     margin-left: 1.5%;
     height: 70px;
 }

nav li
{
    margin: -55px 70px 0 -20px;
    padding-top: 33px;
}

nav li:hover
{
    color: #0065FC;
    cursor: pointer;
    border-top: #0065FC solid;
}

/* MAIN */


/* FILTRES */

.filtres
{
    display: flex;
    justify-content: flex-start space-between;
    align-items: center;

}


.filtres ul
{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.filtres li 
{
    font-weight: bold;
    margin: 0 20px 0 20px;
    border: 2px #DEEBFF solid;
    border-radius: 25px;
    padding: 0px;
    padding-right: 10px;
}

.fa-solid 
{
    width: 16px;
    padding: 12px;
	border-radius: 25px; 
    background-color: #DEEBFF;
    color: #0065FC;
}

.filtres li:hover
{
    background-color: #DEEBFF;
}