* {
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
}

a {
    width: 100%;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/* HEADER */

header {
    display: flex;
    flex-direction: column;
}

.nav_header {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

nav img {
    margin-left: 37%;
    height: 70px;
}

nav ul {
    padding: 0;
}

nav li {
    width: 50%;
    text-align: center;
    border-bottom: 2px #DEEBFF solid;
}


nav li:hover {
    color: #0065FC;
    cursor: pointer;
    border-bottom: 2px #0065FC solid;
}

/* MAIN */

/* PARTIE 1 */

/* Barre de recherche */

.research {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
}

.fa-location-dot {
    margin-right: -4px;
    padding: 13px;
    background-color: #F2F2F2;
    border-radius: 30% 2% 2% 30%;
}

.fa-location-dot:hover {
    cursor: pointer;
}

input {
    padding: 10px;
    border-color: #F2F2F2;
    border-style: solid;
}

input:focus {
    padding: 10px;
    border-color: #F2F2F2;
}

.desktop_button {
    display: none;
}

button {
    font-weight: 500;
    border-style: solid;
    border-width: 1.5px;
    border-color: #0065FC;
    margin-left: -35px;
    background-color: #0065FC;
    color: white;
    padding: 12px;
    border-radius: 35%;
}

button:hover {
    cursor: pointer;
}

/* FILTRES */

.filtres {
    display: flex;
    flex-direction: column;
}


.filtres ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.filtres li {
    font-weight: bold;
    margin: 0 20px 10px 20px;
    border: 2px #DEEBFF solid;
    border-radius: 25px;
    padding: 0px;
    padding-right: 10px;
}

.filtres li {
    cursor: pointer;
}

.fa-dog,
.fa-heart,
.fa-child-reaching,
.fa-money-bill-wave {
    padding: 13px;
    border-radius: 25px;
    background-color: #DEEBFF;
    color: #0065FC;
}

.fa-child-reaching {
    padding-top: 12px;
    padding-bottom: 14px;
    padding-right: 15px;
    padding-left: 14px;
}

.filtres li:hover {
    background-color: #DEEBFF;
}

/* POINT INFORMATION */

.fa-info {
    font-size: small;
    color: #0065FC;
    border: 2px solid #F2F2F2;
    padding: 7px;
    border-radius: 50%;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}

/* PART2 Hebergement + populaire */

.part2 {
    display: flex;
    flex-direction: column-reverse;
}

.blue-star {
    color: #0065FC;
}

.grey-star {
    color: rgb(209, 205, 205);
}

/* plus populaire */

.most_popular {
    background-color: #F2F2F2;
    width: 100%;
}

.section_pop_title {
    display: flex;
    justify-content: space-between;
}

.section_pop_title i {
    margin-right: 20px;
    font-weight: bold;
}

.affichage_pop {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15%;
}

.pop_card {
    background-color: white;
    padding: 7px;
    width: 89%;
    height: 150px;
    border-radius: 20px;
    margin-top: 45px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.pop_card a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.pop_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.466);
}

.img_pop {
    border-radius: 20px 0px 0px 20px;
    width: 40%;
    height: 100%;
}

.pop_card_body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 95%;
    height: 100%;
    padding-left: 7px;
}

.pop_card_body h4 {
    margin: 0;
}

/* hebergement */

.accomodation_marseille {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height: fit-content;
    padding-top: 25px;
}

.affichage_accomodation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.accomodation_card {
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 7px;
    width: 89%;
    height: 250px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 25px;
    margin-bottom: 25px;
}

.img_accomodation {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.accomodation_card_body {

    height: 40%;
}

.accomodation_card_body h4 {
    margin: 0;
}

/* part3 activités */

.affichage_activities_Marseille {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.acti_title {
    padding-left: 5%;
    padding-bottom: 5%;
}

.ensemble1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.ensemble2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.acti_card_full {
    display: flex;
    justify-content: space-around;
    background-color: white;
    width: 90%;
    height: 250px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 25px;
    margin-bottom: 25px;
}

.acti_card_moyenne {
    display: flex;
    justify-content: space-around;
    background-color: white;
    width: 90%;
    height: 250px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 25px;
    margin-bottom: 25px;
}

.acti_card_petite {
    display: flex;
    justify-content: space-around;
    background-color: white;
    width: 90%;
    height: 250px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 25px;
    margin-bottom: 25px;
}

.acti_card_moitié {
    display: flex;
    justify-content: space-around;
    background-color: white;
    width: 90%;
    height: 250px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 25px;
    margin-bottom: 25px;
}

.img_acti_full {

    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.img_acti_card_moyenne {

    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.img_acti_card_petite {

    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.img_acti_card_moitié {

    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

/* footer */

footer {
    background-color: #F2F2F2;
}

.foot_li {
    list-style: none;
    padding-left: 9%;
}

.foot_column h4 {
    padding-top: 6%;
    padding-left: 9%;
}