/* HEADER */

header {
    display: flex;
    flex-direction: column;
}

.nav_header {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

nav img {
    margin-left: 37%;
    height: 70px;
}

nav ul {
    padding: 0;
}

nav li {
    width: 50%;
    text-align: center;
    border-bottom: 2px #DEEBFF solid;
}


nav li:hover {
    color: #0065FC;
    cursor: pointer;
    border-bottom: 2px #0065FC solid;
}

/* MAIN */

/* PARTIE 1 */

/* Barre de recherche */

.research {
    display: flex;
    justify-content: center;
}

.desktop_button {
    display: none;
}

button {
    font-weight: 500;
    border-style: solid;
    border-width: 1.5px;
    border-color: #0065FC;
    margin-left: -35px;
    background-color: #0065FC;
    color: white;
    padding: 12px;
    border-radius: 35%;
}



/* FILTRES */

.filtres {
    display: flex;
    flex-direction: column;
}


.filtres ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

/* PART2 Hebergement + populaire */

.part2 {
    display: flex;
    flex-direction: column-reverse;
}

/* plus populaire */

.most_popular {
    background-color: #F2F2F2;
    width: 100%;
}

.section_pop_title {
    display: flex;
    justify-content: space-between;
}

.section_pop_title i {
    margin-right: 20px;
    font-weight: bold;
}

.affichage_pop {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15%;
}

.pop_card {
    background-color: white;
    padding: 7px;
    width: 95%;
    height: 150px;
    border-radius: 20px;
    margin-top: 45px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.pop_card a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.pop_card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.466);
}

.img_pop {
    border-radius: 20px 0px 0px 20px;
    width: 42%;
    height: 100%;
}

.pop_card_body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 58%;
    height: 100%;
    padding-left: 5%;
}

.pop_card_body h4 {
    margin: 0;
}

/* hebergement */

.accomodation_marseille {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height: fit-content;
    padding-top: 25px;
}

.affichage_accomodation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.accomodation_card {
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 7px;
    width: 89%;
    height: 250px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 25px;
    margin-bottom: 25px;
}

.img_accomodation {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.accomodation_card_body {

    height: 40%;
}

.accomodation_card_body h4 {
    margin: 0;
}

/* part3 activités */

.affichage_activities_Marseille {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.acti_title {
    padding-left: 5%;
    padding-bottom: 5%;
}

.ensemble1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.ensemble2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.acti_card_full {
    display: flex;
    justify-content: space-around;
    background-color: white;
    width: 90%;
    height: 250px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 25px;
    margin-bottom: 25px;
}

.acti_card_moyenne {
    display: flex;
    justify-content: space-around;
    background-color: white;
    width: 90%;
    height: 250px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 25px;
    margin-bottom: 25px;
}

.acti_card_petite {
    display: flex;
    justify-content: space-around;
    background-color: white;
    width: 90%;
    height: 250px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 25px;
    margin-bottom: 25px;
}

.acti_card_moitié {
    display: flex;
    justify-content: space-around;
    background-color: white;
    width: 90%;
    height: 250px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 25px;
    margin-bottom: 25px;
}

.img_acti_full {

    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.img_acti_card_moyenne {

    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.img_acti_card_petite {

    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.img_acti_card_moitié {

    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

/* footer */


.foot_li {
    padding-left: 9%;
}

.foot_column h4 {
    padding-top: 6%;
    padding-left: 9%;
}