/* Général */

* {
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
}

a {
    width: 100%;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/* Elements communs */

/* Formulaire de recherche */

.fa-location-dot {
    margin-right: -4px;
    padding: 13px;
    background-color: #F2F2F2;
    border-radius: 30% 2% 2% 30%;
}

.fa-location-dot:hover {
    cursor: pointer;
}

input {
    padding: 10px;
    border-color: #F2F2F2;
    border-style: solid;
}

input:focus {
    padding: 10px;
    border-color: #F2F2F2;
}

button:hover {
    cursor: pointer;
}

/* Filtres */

.filtres li {
    font-weight: bold;
    margin: 0 20px 10px 20px;
    border: 2px #DEEBFF solid;
    border-radius: 25px;
    padding: 0px;
    padding-right: 10px;
}

.filtres li {
    cursor: pointer;
}

.fa-dog,
.fa-heart,
.fa-child-reaching,
.fa-money-bill-wave {
    padding: 13px;
    border-radius: 25px;
    background-color: #DEEBFF;
    color: #0065FC;
}

.fa-child-reaching {
    padding-top: 12px;
    padding-bottom: 14px;
    padding-right: 15px;
    padding-left: 14px;
}

.filtres li:hover {
    background-color: #DEEBFF;
}

/* Point information */

.fa-info {
    font-size: small;
    color: #0065FC;
    border: 2px solid #F2F2F2;
    padding: 7px;
    border-radius: 50%;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}

/* Part2 : Hebergements & populaires */

.blue-star {
    color: #0065FC;
}

.grey-star {
    color: rgb(209, 205, 205);
}

/* Part3 : Avtivités */

/* Footer */

footer {
    background-color: #F2F2F2;
}

.foot_li {
    list-style: none;
}