body 
{
    margin-left: 3em;
    font-family: "Raleway", sans-serif;
}

/*HEADER */

nav
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

nav ul
{
    display: flex;
    list-style: none;
}


nav img
 {
     height: 70px;
 }

nav li
{
    margin: 0 3em 0 1em;
}

nav li:hover
{
    color: #0065FC;
}