* {
    box-sizing: border-box;
}

body {
    margin-left: 3%;
    font-family: "Raleway", sans-serif;
}

/*HEADER */

nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding-right: 10px;
}


nav img {
    margin-left: 1.5%;
    height: 70px;
}

nav li {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 35px;
    margin-top: -21px;
}

nav li:hover {
    color: #0065FC;
    cursor: pointer;
    border-top: 2px #0065FC solid;
}

/* MAIN */

/* PARTIE 1 */

/* Barre de recherche */

form {
    display: block;
}

.fa-location-dot {
    margin-right: -4px;
    padding: 13px;
    padding-top: 12.5px;
    background-color: #F2F2F2;
    border-radius: 30% 2% 2% 30%;
}

.fa-location-dot:hover {
    cursor: pointer;
}

input {
    padding: 10px;
    border-color: #F2F2F2;
    border-style: solid;
}

input:focus {
    padding: 10px;
    border-color: #F2F2F2;
}

button {
    font-weight: 500;
    border-style: solid;
    border-width: 1px;
    border-color: #0065FC;
    margin-left: -5px;
    background-color: #0065FC;
    color: white;
    padding: 10.5px;
    border-radius: 25px 900px 900px 25px;
}

.mobile_button {
    display: none;
}

button:hover {
    cursor: pointer;
}

/* FILTRES */

.filtres {
    display: flex;
    justify-content: flex-start space-between;
    align-items: center;
}


.filtres ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
}

.filtres li {
    font-weight: bold;
    border: 2px #DEEBFF solid;
    border-radius: 25px;
    padding: 0px;
    padding-right: 10px;
}

.filtres li {
    cursor: pointer;
}

.fa-dog,
.fa-heart,
.fa-child-reaching,
.fa-money-bill-wave {
    padding: 13px;
    border-radius: 25px;
    background-color: #DEEBFF;
    color: #0065FC;
}

.fa-child-reaching {
    padding-top: 12px;
    padding-bottom: 14px;
    padding-right: 15px;
    padding-left: 14px;
}

.filtres li:hover {
    background-color: #DEEBFF;
}

/* POINT INFORMATION */

.fa-info {
    font-size: small;
    color: #0065FC;
    border: 2px solid #F2F2F2;
    padding: 7px;
    border-radius: 50%;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}